body{
    font-family: sans-serif;
}
.index-title{
    text-align: center;

}
/* navbar styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f0f0f0;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-list li {
    display: inline-block;
    margin-right: 20px;
}

.nav-list a {
    text-decoration: none;
    color: #333;
}

.nav-list a:hover {
    color: #000;
}

.active {
    font-weight: bold;
}
.nav-list li a:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}

/* form styling */
form {
    display: flex;
    align-items: center;
}

form input {
    padding: 5px;
    border: 1px solid #ccc;
}

form button {
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #000;
    cursor: pointer;
}
form button:hover{
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}
/*Main Content*/
.header-def{
    font-family: "Linux Biolinum";
}
/*Footer*/
.footer{
    text-align: center;
    background-color: #f0f0f0;
    padding: 10px 20px;
}
